[Desktop Entry]
Name=Kamarada default
Name[pt]=Padrão do Kamarada
Name[pt_BR]=Padrão do Kamarada

X-KDE-PluginInfo-Name=Kamarada-Default-Wallpaper
X-KDE-PluginInfo-Author=Kamarada Project
X-KDE-PluginInfo-Author[pt_BR]=Projeto Kamarada
X-KDE-PluginInfo-Author[pt_BR]=Projeto Kamarada
X-KDE-PluginInfo-Email=kamaradalinux@gmail.com
X-KDE-PluginInfo-License=GPLv2